<?xml version="1.0"?>
<RuntimeDatabaseConfiguration>
<Username encrypted="false">ostests</Username>
<ConnectionString encrypted="false">Server=INSERT SERVER HERE;Database=ostests;Username=ostests;Password=TestsTests123;SSL=True;Sslmode=Prefer;MaxPoolSize=100;ConnectionLifeTime=120;ApplicationName=ardoPGSQL</ConnectionString>
<DatabaseIdentifier encrypted="false">public</DatabaseIdentifier>
</RuntimeDatabaseConfiguration>
