<?xml version="1.0"?>
<RuntimeDatabaseConfiguration>
<Username encrypted="false">ostests</Username>
<ConnectionString encrypted="false">Server=minilinux.lan;Database=ostests;Username=ostests;Password=tests</ConnectionString>
<DatabaseIdentifier encrypted="false">public</DatabaseIdentifier>
</RuntimeDatabaseConfiguration>
