NET/Libraries/OutSystems.HubEdition.DatabaseAbstractionLayer.dll
NET/Libraries/IntegrationDatabaseProvider.Tests.dll
NET/Libraries/OutSystems.HubEdition.DatabaseAbstractionLayer.XML
NET/Libraries/plugins/database/OutSystems.HubEdition.DatabaseAbstractionLayer.dll
NET/Libraries/plugins/database/PostgreSQLDatabaseProvider.dll
NET/PostgreSQLDatabaseProvider.Tests/TestResult.xml
NET/PostgreSQLDatabaseProvider.Tests/ardoPGSQLDatabaseProvider.Tests.VisualState.xml
*.pdb
NET/Libraries/DatabaseAbstractionLayer.csproj.FileListAbsolute.txt
NET/Libraries/DatabaseAbstractionLayer.csprojResolveAssemblyReference.cache
NET/Projects/DatabaseProvider.Tests/obj/Debug/*
NET/Libraries/plugins/database/OutSystems.HubEdition.DatabaseAbstractionLayer.xml
NET/PostgreConnector/PostgreConnector/obj/Debug/*
*.suo
*.jar
J2EE/ardoPostgreSQL.Tests/res.txt
*.html
*.zip
*.nlp
*.dll
*.css