<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<RuntimeDatabaseConfiguration>
<Username encrypted="false">ostests</Username>
<ConnectionString encrypted="false"><![CDATA[jdbc:postgresql://minilinux.lan/ostests?user=ostests&password=tests]]></ConnectionString>
<DatabaseIdentifier encrypted="false">public</DatabaseIdentifier>
</RuntimeDatabaseConfiguration>
