<configuration>
    <appSettings>
        <add key="DatabaseProviderTests.BaseFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\Files\Files\Base"/>
		<add key="DatabaseProviderTests.DefaultConfigurationFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\DefaultConfigurationFiles"/>
        <add key="DatabaseProviderTests.TransactionServiceFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\Files\Files\TransactionService"/>
        <add key="DatabaseProviderTests.ExecutionServiceFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\Files\Files\ExecutionService"/>
        <add key="DatabaseProviderTests.DMLServiceFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\Files\Files\DMLService"/>
        <add key="DatabaseProviderTests.IntrospectionServiceFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\Files\Files\IntrospectionService"/>
        <add key="DatabaseProviderTests.ConfigurationServiceFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\Files\Files\ConfigurationService"/>
        <add key="DatabaseProviderTests.PlatformIntrospectionServiceFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\Files\Files\PlaformIntrospectionService"/>
        <add key="OutSystems.Selenium.WebDriver.Configuration.File" value="C:\espace\HubServer\WebWidgets.UnitTests\WebWidgets.WebDriver.UnitTests\DefaultWebDriverConfig.xml"/>
        <add key="DatabaseProviderTests.PlatformDDLServiceFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\Files\Files\PlatformDDLService"/>
        <add key="DatabaseProviderTests.PlatformDMLServiceFilesPath" value="C:\eSpace\HubServer\DatabaseProviders\Files\Files\PlatformDMLService"/>
    </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="plugins\database"/>
		</assemblyBinding>
	</runtime>
</configuration> 
