<configuration>
    <appSettings>
		<add key="DatabaseProviderTests.DefaultConfigurationFilesPath" value="..\PostgreSQLDatabaseProvider.Tests\Default"/>
        <add key="DatabaseProviderTests.BaseFilesPath" value="..\PostgreSQLDatabaseProvider.Tests\Default"/>
        <add key="DatabaseProviderTests.TransactionServiceFilesPath" value="..\PostgreSQLDatabaseProvider.Tests\TransactionService"/>
        <add key="DatabaseProviderTests.ExecutionServiceFilesPath" value="..\PostgreSQLDatabaseProvider.Tests\ExecutionService"/>
        <add key="DatabaseProviderTests.DMLServiceFilesPath" value="..\PostgreSQLDatabaseProvider.Tests\DMLService"/>
        <add key="DatabaseProviderTests.IntrospectionServiceFilesPath" value="..\PostgreSQLDatabaseProvider.Tests\IntrospectionService"/>
        <add key="DatabaseProviderTests.ConfigurationServiceFilesPath" value="..\PostgreSQLDatabaseProvider.Tests\ConfigurationService"/>
    </appSettings>
</configuration> 
