<?xml version="1.0"?>
<RuntimeDatabaseConfiguration>
<Username encrypted="false">ostests</Username>
<ConnectionString encrypted="false">Server=SERVER HERE;Database=ostests;Username=ostests;Password=TestsTests123;Trust Server Certificate=true;SSL Mode=Prefer;MaxPoolSize=100;ApplicationName=ardoPGSQL</ConnectionString>
<DatabaseIdentifier encrypted="false">public</DatabaseIdentifier>
</RuntimeDatabaseConfiguration>
