<?xml version="1.0"?>
<RuntimeDatabaseConfiguration>
<Username encrypted="false">ostests</Username>
<ConnectionString encrypted="false">Server=SERVER HERE;Port=5439;Database=ostests;Username=ostests;Password=TestsTests123;SSL Mode=Prefer;Trust Server Certificate=true;MaxPoolSize=100;Server Compatibility Mode=Redshift</ConnectionString>
<DatabaseIdentifier encrypted="false">public</DatabaseIdentifier>
</RuntimeDatabaseConfiguration>
