<?xml version="1.0"?>
<RuntimeDatabaseConfiguration>
<Username encrypted="false">ostests</Username>
<ConnectionString encrypted="false">Server=<server>;Port=5439;Database=ostests;Username=ostests;Password=TestsTests1;SSL=True;Sslmode=Prefer;MaxPoolSize=100;ConnectionLifeTime=120</ConnectionString>
<DatabaseIdentifier encrypted="false">public</DatabaseIdentifier>
</RuntimeDatabaseConfiguration>
